name: Continuous Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Railway
        run: |
          echo "Proses deployment ditangani otomatis oleh Railway Integration."
          echo "Pipeline GitHub Actions ini hanya sebagai penanda status CD."
          echo "DEPLOYMENT SUCCESS!"