name: Continuous Integration

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    
    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_USER: user_test
          POSTGRES_PASSWORD: password_test
          POSTGRES_DB: forumapi_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'

    - name: Install dependencies
      run: npm install

    - name: Run Migrations
      run: npm run migrate up
      env:
        PGHOST: localhost
        PGUSER: user_test
        PGPASSWORD: password_test
        PGDATABASE: forumapi_test
        PGPORT: 5432

    - name: Run Tests
      run: npm test
      env:
        PGHOST: localhost
        PGUSER: user_test
        PGPASSWORD: password_test
        PGDATABASE: forumapi_test
        PGPORT: 5432
        ACCESS_TOKEN_KEY: rahasia
        REFRESH_TOKEN_KEY: rahasia2